body{
    background: linear-gradient(to right, #ffffff 0%, #ffffcc 100%);
}
main{
    display: flex;
    align-items: center;
    justify-content: center;
}
nav{
    /* padding: 20%;
    height: 15vh; */
}
nav ul{
    display: flex;
    align-items: center;

}
nav ul li{
    list-style: none;
    margin-right: 5%;
    font-size: larger;
    font-weight: 500;
}
.left-main{
    width: 40%;
    align-items: center;
    justify-content: center;
    margin-left: 3%;
    
}
.right-main{
    width: 60%;
    align-items: center;
    justify-content: center;
    margin-left: 10%;
    margin-top: 3%;
    padding: 2%;
}
.right-main div img{
    width: 30%;
}
.right-main > img{
    width: 60%;
}
.left-main button{
    padding: 15px 20px;
    font-size: 18px;
    color: white;
    font-weight: 600;
    border: none;
    background-color: #3b855b;
    border-radius: 10px;
}
.left-main h1{
    font-size: 50px;
    font-weight: 600;
}
.left-main p{
    margin: 5% 0;
}
.left-main button:hover{
    background-color: white;
    color: #3b855b;
}